    
    .body{
        width: 100%;
        /* height: 100vh; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .main{
        position: relative;
        width: 100%;
        height: 40vh;
        overflow: hidden;
    }
    
    .main::before, .main::after{
        content: '';
        position: absolute;
        z-index: 2;
        left: 50%;
        width: 365%;
        height: 500%;
        background-color: #fff;
        border-radius: 50%;
        translate: -50% 0;
    }
    
    .main::before{
        top: -490%;
    }
    
    .main::after{
        bottom: -490%;
    }
    
    .outer{
        position: absolute;
        display: flex;
        overflow-x: scroll;
        scroll-behavior: smooth;    
        scroll-snap-type: x mandatory;
    }
    
    .inner{
        position: relative;
        flex:  0 0 20%;
    }
    
    .slide{
        width: 100%;
        height:100%;
        border:1px solid #dde6f0;
        scroll-snap-align: center;
    }
    
    .slide img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }