.custom-input {
    width: 98px; /* Adjust the width as desired */
    
    padding: 0px 5px;
    font-size: 14px;
   color:black;
    background-color: transparent; /* Adjust the font size as desired */
    /* Add any other styles you want, like border, background, etc. */
  }