@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Kanit-400";
    src: url("/fonts/Kanit/Kanit-Regular.ttf");
}

@font-face {
    font-family: "Poppins-700";
    src: url("/fonts/Poppins/Poppins-Bold.ttf");
}
@font-face {
    font-family: "Poppins-400";
    src: url("/fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
    font-family: "OpenSans-400";
    src: url("/fonts/Open_Sans/static/OpenSans-Regular.ttf");
}